body
{
    padding: 2rem 2rem 0rem 2rem;
}

#numberGuess
{
    width: 8rem;
}

.gGCol
{
    width: 25%;
}

header
{
    div
    {
        min-height: 20vh;
    }
}

main
{
    display: grid;
    grid: auto / 1fr 1fr 1fr 1fr;
    gap: 1rem 2rem;
    .landing-page
    {
        grid-column: span 4;
    }
    .content
    {
        grid-column: span 3;
    }
    .output
    {
        grid-column: span 1;
    }
}

button
{
    border-radius: 5rem;
    max-width: 50%;
}