body
{
    padding: 2rem 2rem 0rem 2rem;
}

#numberGuess
{
    width: 8rem;
}

.gGCol
{
    width: 25%;
}

header
{
    div
    {
        min-height: 20vh;
    }
}

.questionContainer
{
    background-color: $qColor;
    border-radius: 1rem;
    display: grid;
    grid: repeat(6, minmax(0,1fr)) / 1fr;
    height: 25vh;
    width: 50%;
    div
    {
        width: 100%;
    }
    button
    {
        background-color: lighten($color: $qColor, $amount: 40%);
        height: 100%;
        margin: 0rem;
        border-radius: 0rem;
    }
}